<% layout('/layouts/boilerplate') %>
    <div id="cluster-map"></div>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add a Campground</a>
    </div>

    <% for(let campground of campgrounds) {%>
        <div class="card mb-2">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length) { %>
                    <img src="<%= campground.images[0].url%>" alt="" class="img-fluid" style="height:20em; width:30em;" crossorigin="anonymous">
                    <% } else {%>
                    <img src="https://res.cloudinary.com/ddxbv1j8u/image/upload/v1697123361/YelpCamp/ijlorfdm73u2rz9oy7hs.jpg" alt="" class="img-fluid" style="height:20em; width:30em;" crossorigin="anonymous">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text"><%= campground.description %></p>
                        <p class="card-text text-secondary"><%= campground.location %></p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id  %>">View <%= campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <script>
            const mapToken = '<%= process.env.MAPBOX_TOKEN %>';
            const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
          </script>
        <script src="/javascripts/clusterMap.js"></script>